<!DOCTYPE html>
<html>
	<%- include ../includes/head %>
	<body>
		<%- include ../includes/header %>
		<div class="main-container">
			<%- body %>
		</div>
		<%- include ../includes/footer %>
		<%- include ../includes/foot %>
		<%- foot %>
	</body>
</html>
